<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../styles/styles.css">

    <title>Edit Projects</title>
</head>
<!-- pop out edit form -->
    <div style="text-align: center">
        <section style="border: solid; width: 500px;">
            <h1>Title</h1>

            <img src="https://img.wonderhowto.com/img/original/65/66/63541560936969/0/635415609369696566.jpg" name="img" height="200" width="300">
            <h1>description</h1>
            <p>There is no candy more magnificent or more powerful. This five-pound beast
                is the equivalent of 1,400 regular sized gummy
                bears and packs a whopping 6,120 calories. Its monstrous size is only
                matched by its enormous taste. The World's Largest Gummy Bear tastes
                just as delicious as its pint-sized counterpart</p>
            <button>Edit</button>
            <button>Delete</button>

            <div id="status" class="form-group btn-group">
                <h4> Status : </h4>
                <label class="btn btn-success">
                    <input name="status" type="radio" autocomplete="off" value="active"> A
                </label>
                <label class="btn btn-primary">
                    <input name="status" type="radio" autocomplete="off" value="pending"> P
                </label>
                <label class="btn btn-warning">
                    <input name="status" type="radio" autocomplete="off" value="maintenance"> M
                </label>
                <label class="btn btn-danger">
                    <input name="status" type="radio" autocomplete="off" value="retired"> R
                </label>
    </div>

<!-- end the pop out edit form -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <script src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>

    <script>
        $('#pro-data').DataTable();
    </script>
</body>
</html>